html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+69,a0d8ef+100 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 69%, #a0d8ef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 69%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 69%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */

}

/* Navigation Bar */
nav {
  font-weight: 200;
  background-color: #000000;
  padding: 0px 10px;
}
/* Header */

header {
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
}

/* About Company */



.about {
  /*background-color: #e3f2fd;*/
}

.about h2 {
  font-weight: 200;
}

.contact li {
    margin: 5px 0px;
}


.contact div.divider {
  margin-bottom: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.storeName {
  font-size: 1.4rem;
}

.address {
  font-weight: 300;
  font-size: 1.1rem;
}

/*#first-map {
  height: 200px;
  margin: 0 auto;
}*/

/* Main - Products */

p.card-title.price {
  font-weight: 600;
  color: #00c853;
  font-size: 50px;
  margin: 0px;
}

#products div.card {
  overflow: hidden;
}

#products div.card-image {
  max-height: 100%;
}

#products div.card-image img {
  top: -60px;
}

#products div.card-action {
  background-color: transparent;
  border: none;
}

#products div.card.small.hoverable {
  background-color: rgb(253,253,253);
}

/* Contact Info */

#contact {
  padding-top: 25px;
  padding-bottom: 25px;
}

#contact h2 {
  font-weight: 600;
}

#contact h4 {
  font-weight: 200;
}

/* Footer */

footer {
  border-top: 2px solid #000000;
}
