html {

}

/* Navigation Bar */
nav {
  font-weight: 200;
  background-color: #000000;
  padding: 0px 10px;
}
/* Header */

h1 {
  font-weight: 600;
}

/* About Company */

.about {
  /*background-color: #e3f2fd;*/
}

.about h2 {
  font-weight: 200;
}

.contact li {
    margin: 5px 0px;
}


.contact div.divider {
  margin-bottom: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.address {
  font-weight: 200;
}

/*#first-map {
  height: 200px;
  margin: 0 auto;
}*/

/* Main - Products */

p.card-title.price {
  font-weight: 600;
  color: #00c853;
  font-size: 50px;
  margin: 0px;
}

#products div.card {
  overflow: hidden;
}

#products div.card-image img {
  top: -75px;
}

#products div.card-action {
  /*background-color: transparent;*/
  /*border: none;*/
}
